.parent{
  display:grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}

 header {
  padding: 2rem;
  grid-column: 1 / 4;
  background-color: pink;
  font-size:60px;
  text-align: center;
}

.nav {
  grid-column: 1 / 4;
  background-color: rgb(94, 199, 94);
  text-align: center;
  font-size:25px;
  padding: 10px;
  word-spacing: 30px;
}
.card{
  display:grid;
  place-items: center;
  margin:10px;
}

.left-side {
  grid-column: 1 / 2;
  background-color: rgb(0, 204, 255);
  font-size: 20px;
  text-align: center;
  height: 30rem;
}
#left-card{
  background-color: yellow;
}

.main {
  grid-column: 2 / 3;
  background-color: rgb(255, 145, 0);
  font-size: 20px;
  text-align: center;
  height: 30rem;
}
#main-card{
  background-color: paleturquoise;
}

.right-side{
  grid-column: 3 / 4;
  background-color: rgb(255, 208, 0);
  font-size: 20px;
  text-align: center;
  height: 30rem;
}
#right-card{
  background-color: papayawhip;
}

.green {
  grid-column:1/4;
  background-color: chartreuse;
  font-size: 20px;
  height:3rem;
} 